@model WebApplication4.Models.Tables.Usine
<section class="content-header">
    <h1>
        Infirmerie
        <small>Liste des lieux du travail</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li>Lieux du travail</li>
        <li class="active">Informations</li>
    </ol>
</section>

<!-- Main content -->
<div class="container-fluid">
    <section class="content">
        <div class="row">
            <h2>Informations</h2>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @*@Html.DisplayNameFor(model => model.UsineName)*@
                        @Html.Label("Lieu du travail", htmlAttributes: new { @class = "control-label col-md-10" })
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UsineName)
                    </dd>
                </dl>
            </div>
            <p>
                @*@Html.ActionLink("Modifier", "Edit", new { id = Model.IdUsine }) |*@
                <a href="@Url.Action("Edit", "Usines",new { id = Model.IdUsine })" class="btn btn-warning">
                    <i class="glyphicon glyphicon-pencil"></i>
                    <span>
                        <strong></strong>
                    </span>
                </a>
                @*@Html.ActionLink("Retour", "Index")*@
                |
                <a href="@Url.Action("Index", "Usines")" class="btn btn-default">
                    <i class="glyphicon glyphicon glyphicon-chevron-left"></i>
                    <span>
                        <strong>Retour</strong>
                    </span>
                </a>
            </p>
        </div>
    </section>
</div>