<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/StyleStyleSheet.css" rel="stylesheet" />
</head>
<body>
    <!-- NavBar -->
    <div class="navbar navbar-default navbar-fixed-top shadow">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">
                    <img src="" />
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse textChange ">
                <ul class="nav navbar-nav" id="TextColor:hover">
                    <li><a href="#" id="TextColor"><i class="glyphicon glyphicon-home"></i>Accueil</a></li>
                    <li><a href="#" id="TextColor"><i class="glyphicon glyphicon-bed"></i>Patients</a></li>
                    <li><a href="#" id="TextColor"><i class="glyphicon glyphicon-briefcase"></i>Medecins Conventionnés</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" id="TextColor"><i class="glyphicon glyphicon-lock"></i>Connexion</a></li>
                    <li><a href="#" id="TextColor"><i class="glyphicon glyphicon-user"></i>Inscription</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="myFooter textChange shadow" id="TextFooter">
            <p>&copy; @DateTime.Now.Year - La Régie Nationale des Tabacs et des Allumettes</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
