@using Microsoft.AspNet.Identity
@using WebApplication4.Models;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        var db = new ApplicationDbContext();
        var UserID = User.Identity.GetUserId();
        var CurrentUser = db.Users.Where(a=>a.Id==UserID).SingleOrDefault();
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav ">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:brown">
            <span class="glyphicon glyphicon-user"></span>
           Bonjour  @CurrentUser.UserName !
            <span class="glyphicon glyphicon-chevron-down">
            </span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <div class="navbar-user">
                    <div class="row">
                        <div style="background-color:#ffffff">
                            <p class="text-center">
                                <a href="~/Account/EditProfile" class="btn btn-primary">Modifier le compte</a>
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger">Se déconnecter</a>

                            </p>
                           
                        </div>
                    </div>
                </div>
            </li>
           
            
        </ul>
    </li>
       @*<li>
            @Html.ActionLink("Bonjour " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a></li>*@

</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="../Account/Login" id="TextColor"><i class="glyphicon glyphicon-lock"></i>Connexion</a></li>
        <li><a href="../Account/Register" id="TextColor"><i class="glyphicon glyphicon-user"></i>Inscription</a></li>
    </ul>

}
