<ul class="nav navbar-nav navbar-right">
    <li><a href="#" id="TextColor"><i class="glyphicon glyphicon-lock"></i>Connexion</a></li>
    <li><a href="#" id="TextColor"><i class="glyphicon glyphicon-user"></i>Inscription</a></li>
</ul>
