@model IEnumerable<WebApplication4.Models.Tables.Specialite>
@{
    ViewBag.Title = "Home Page";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <div class="panel panel-default" style="padding:15px">
        <h4 class="panel-heading">@Html.DisplayFor(modelItem => item.SpecialiteName)</h4>
        <div class="row">
            @foreach (var subItem in item.medicament)
            {

                <div class="col-md-3 thumbnail" style="margin-left:20px; margin-bottom:30px; height:100px">

                    <h4 style="color:black">@Html.DisplayFor(modelItem => subItem.MedicamentName)</h4>
                    @Html.ActionLink("Plus d'informations", "Details",
                            new { MedicamentID=subItem.MedicamentID},
                            new { @class="btn btn-primary"})
                </div>

            }
        </div>
    </div>
}