@model WebApplication4.Models.Tables.Patients
<table border="1" cellpadding="10">
    <tr>
        <td>Customer ID :</td>
        <td>@Model.IdPatients</td>
    </tr>
    <tr>
        <td>LastName :</td>
        <td>@Model.NomPatient</td>
    </tr>
    <tr>
        <td>Name :</td>
        <td>@Model.PrenomPatient</td>
    </tr>


</table>
