
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" />
<h2>Index</h2>
<div class="calendar">

</div>

@section Scripts{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script>
        $(document).ready(function () {

            $.ajax({


                type: "GET",
                url: "/Evenst/GetEvents",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            title: v.Subject,
                            description: v.Description,
                            startdate: moment(v.StartDate),
                            enddate: v.EndDate != null ? moment(v.EndDate) : null,
                            color: v.ThemeColor,
                            allDay: v.IsFullDay

                        });
                    })
                    GenerateCalendar(events);
                },
                error: function (error) {
                    alert('failed');
                }
            })

            function GenerateCalendar(events) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:)a',
                    header: {
                        left: 'prev,next,today',
                        center: 'title',
                        right:'month,basicweek,basicday,agenda',

                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events:events
                })
            }
        })
    </script>
}
