
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/MedicamentsLayout/adminLayout.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Tableau de bord</a>
        </li>
        <li class="breadcrumb-item active">Accueil</li>
    </ol>
    <!-- DataTables Example -->
    
</div>
