@using WebApplication4.Models;
@model WebApplication4.Models.ViewModels.MedicamentListBox
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.ListBoxFor(a=>a.MedicsSelect, Model.Medicaments, new { style = "color:black" })
    <hr />
    <input type="submit" name="btn" value="Selectionner" class="btn btn-primary" />

}

@if (TempData["MSG"] != null)
{
     <span style="color:red">
         @TempData["MSG"].ToString();
     </span>
}

