@using WebApplication4.Models;
@model WebApplication4.Models.Tables.ShopCart.PatientsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/adminlte/_mainLayout.cshtml";
}
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<section class="content-header">
    <h1>
        Infirmerie
        <small>Nouvelle Ordonnance - Liste final des produits selectionnes</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li>Nouvelle Ordonnance </li>
        <li class="active">Liste final des produits</li>
    </ol>
</section>
<section class="content">
    <div class="table-responsive">
        <table class="table">
            <tr>
                <td>
                    @{
                        {
                            List<WebApplication4.Models.Tables.ShopCart.Cart> temp = (List<WebApplication4.Models.Tables.ShopCart.Cart>)Session["Cart"];
                            var total = String.Format("{0}", temp.Sum(x => x.Quantity));

                            <div style="font-family:'Arial Rounded MT'; font-size:20px;">
                                TOTAL : @total
                            </div>
                        }
                        if (Session["Cart"] != null)
                        {

                            <div class="table-responsive">
                                <table class="table" border="1">
                                    <tr>
                                        <th></th>
                                        <th>Nom du produit</th>
                                        <th>Quantité</th>

                                    </tr>
                                    @foreach (var cart in (List<WebApplication4.Models.Tables.ShopCart.Cart>)Session["Cart"])
                                    {
                                        <tr>
                                            <td><img src="@Url.Content("~/Uploads/"+cart.Product.ImageFile)" width="50" height="50" /></td>
                                            <td>
                                                <strong style="font-family:'Arial Rounded MT'; font-size:20px">@cart.Product.NameProduct</strong>

                                                @*@Html.ActionLink(cart.Product.ProductName, "Details", "Medicaments", new { id = cart.Product.ProductID }, null)*@

                                            </td>
                                            <td style="padding-right:50px">
                                                @*@cart.Quantity*@
                                                <input type="text" name="quantity" id="quantity" value="@cart.Quantity" readonly />

                                            </td>
                                            @*<td>@(String.Format("{0}", cart.Quantity))</td>*@


                                        </tr>

                                    }


                                </table>
                            </div>
                            <br />



                        }
                        else
                        {
                            <h4>No items in your cart !!</h4>
                        }

                    }
                </td>
            </tr>

        </table>

        <br />

    </div>
    <br />
    @using (Html.BeginForm("ProcessOrder", "ShoppingCart", FormMethod.Post, new { id = "customer-form" }))
    {
    <div class="table-responsive">
        <table class="table">
            <tr>
                <td> <strong>Information du Patient</strong></td>
                <td><strong>Id du Patient</strong></td>
                <td>
                    <strong><input type="text" name="MatriculePatient" /></strong>
                </td>
                <td><strong>N° Consultation</strong></td>
                <td>
                    <strong><input type="text" name="NConsultation" /></strong>
                </td>
                <td>
                    <input type="submit" value="Créer une ordonnance" class="btn btn-info" />
                </td>
            </tr>

        </table>
    </div>
    }
</section>

    <script>
        $("#customer-form").validate({
            rules: {
                Patients: {
                    required: true
                },
                Consultations: {
                    required: true
                }

            }
        });
    </script>



