@model WebApplication4.Models.Tables.Specialite

<section class="content-header">
    <h1>
        Infirmerie
        <small>Liste des spécialités</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li>Spécialités</li>
        <li class="active">Supprimer</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <h2>Suppression de l'élément</h2>

        <h3>Vous êtes sûr de supprimer cet élément?</h3>
        <div>
            @*<h4>Specialite</h4>*@
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @*@Html.DisplayNameFor(model => model.SpecialiteName)*@
                    @Html.Label("Nom de la spécialité", htmlAttributes: new { @class = "control-label col-md-20" })

                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SpecialiteName)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Supprimer" class="btn btn-danger" /> |
                    @*@Html.ActionLink("Retour", "Index")*@
                    <a href="@Url.Action("Index", "Specialites")" class="btn btn-default">
                        <i class="glyphicon glyphicon glyphicon-chevron-left"></i>
                        <span>
                            <strong>Retour</strong>
                        </span>
                    </a>
                </div>
            }
        </div>
        </div></section>