@model WebApplication4.Models.Tables.Specialite

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Informations</h2>

<div>
    @*<h4>Specialite</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.SpecialiteName)*@
            @Html.Label("Nom de la spécialité", htmlAttributes: new { @class = "control-label col-md-20" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialiteName)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Modifier", "Edit", new { id = Model.IdSpecialite }) |*@
    <a href="@Url.Action("Edit", "Specialites",new { id = Model.IdSpecialite })" class="btn btn-warning">
        <i class="glyphicon glyphicon-pencil"></i>
        <span>
            <strong></strong>
        </span>
    </a>
    |
    <a href="@Url.Action("Index", "Specialites")" class="btn btn-default">
        <i class="glyphicon glyphicon glyphicon-chevron-left"></i>
        <span>
            <strong>Retour</strong>
        </span>
    </a>
</p>
