@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<h2>Informations</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Nom de rôle", htmlAttributes: new { @class = "control-label col-md-10" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour", "Index")
</p>
