@model IEnumerable<WebApplication4.Models.Tables.Specialite>

@{
                /**/

                ViewBag.Title = "Index";
}


@foreach (var genre in Model)
{
    @*<li>@genre.SpecialiteName</li>*@
    @*<li></li>*@
    <div class="col-lg-3 col-xs-6 ">
        <!-- small box -->
        <div class="small-box bg-red-active">
            <div class="inner">
                <p>@Html.ActionLink(genre.SpecialiteName, "Browse", new { genre = genre.SpecialiteName}, new { style = "color: white; text-transform:uppercase;" })</p>
            </div>
           
              </div>
    </div>



}
